@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

.App {
  text-align: center;
  font-family:"Press Start 2P" ;
  color: white;
}
* {
  box-sizing: border-box;
}

body{
  overflow: hidden;
}

.overlay{
  opacity: 0.85;
  width: 100%;
  height: 100%;
  z-index: 10;
  top :0;
  left:0;
  position:fixed;
}

.logo-name{
  display: flex;
  text-align: center;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10%;
}

.button{
  padding: 15px 60px;
  background-color: rgb(196, 89, 89);
  border-color: black;
  border-radius: 3rem;
  text-transform: uppercase;
  font-family: Press Start 2P;
  font-weight: 200;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.navnar-element{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.moving-background{
  z-index: -1;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  background-image: url("./assets/background/parallax-bg.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 40%;
}


